* {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 420px;
	margin: 20px 20px;
	padding: 20px;
	border: 1px solid #999;
	background: #eee;
	overflow: hidden;
}

.left-wrap {
	float: left;
	width: 160px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid #999;
	overflow: hidden;
}

.left-wrap .logo {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
}

.left-wrap .team-name {
	width: 180px;
	text-align: center;
}

.right-wrap {
	float: right;
	width: 120px;
	border: 1px solid #999;
	overflow: hidden;
}

.right-wrap .logo-p {
	display: block;
	width: 80px;
	height: 80px;
	margin: 20px;
}

.mid-wrap {
	margin-left: 220px;
	margin-right: 140px;
	padding: 20px;
	border: 1px solid #999;
	overflow: hidden;
}

.mid-wrap p{
	margin: 10px 0;
	line-height: 24px;
}